.main {
  margin: 10px auto;
}
.header {
  display: flex;
  flex-align: center;
}

.header h1 {
  font-size: 3em;
  margin: 30px 15px;
  flex: 1;
}

.header button {
  font-size: 2em;
  margin: 10px;
}

.todo-list li::before{
  content: 'ø';
  padding: 0 1em;
}
.todo-list li {
  margin: 10px 0;
}

.todo-list em {
  font-style: italic;
}

.todo-list button {
  margin: 5px;
}
